<style>
    .container{
        width: 70vw; 
        height: 50vh; 
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;

    }
    h1{
        text-align: center;
        font-family: monospace;
        color: #36e836 ;

    }
    @media only screen and (max-width: 600px) {
        h1{
            font-size: 1.5em; 
        }
    }
    @media only screen and (max-width: 450px) {
        .container{
            width: 90vw;
        }
        h1{
            font-size: 1.5em; 
        }
    }
</style>
<div class="container">
    <h1>Sorry, we don't have such page, which you are looking for.</h1>
</div>

