<style>
    footer{
        position: fixed; 
        bottom: 0; 
        background-color: rgb(195, 245, 195);
        width: 100%; 
    }
    h4{
        padding: 0 ; 
        margin: 0 ; 
        color: red; 
        text-align: center;
    }
</style>
<footer>
    <h4>
        Created With &hearts; By - Sanskar
    </h4>
</footer>