<link rel="stylesheet" href="/css/home_styles.css">
<div class="container">
    <form action="/sign-in" method="POST">
        <fieldset>
            <legend>Sign In</legend>
            <label for="username">Username</label>
            <input type="text" name="uname" id="username">
            <label for="password">Password</label>
            <input type="password" name="pname" id="password">
            <button type="submit" class="btn blue">Sign In</button>
        </fieldset>
    </form>
</div>
<div class="container">
    <form action="/sign-up" method="post">
        <fieldset>
            <legend>Sign Up</legend>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="username">Username</label>
            <input type="text" name="uname" id="username">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Password</label>
            <input type="password" name="pname" id="password">
            <label for="cpassword">Confirm Password</label>
            <input type="password" name="cpname" id="cpassword">
            <button type="submit" class="btn purple">Sign Up</button>
        </fieldset>
    </form>
</div>