@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
body{
    margin: 0; 
    background-color: rgba(0, 0, 0, 0.4);  
}
input:focus, input:active,
button:focus, button:active, 
textarea:active, textarea:focus, 
select:focus, select:active
option:focus, option:active{
    outline: none; 
}

.container{
    width: 80%; 
    margin: 0 auto; 
    background-color: white; 
    box-shadow: 0 0 4px 0 rgb(104, 103, 103);
    border-radius: 5px; 
}
.wrapper form{
    display: grid; 
    
}
.wrapper form > div{
    padding: 5px 10px; 
    box-sizing: content-box;
}

.wrapper form label{
    display: block; 
    font-size: 1em; 
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 5px 0 10px 5px;  
}
.wrapper form input{
    border: none; 
    padding: 0.4em;  
    
}
.wrapper h1{
    padding-top: 20px;
    font-family: 'Inconsolata', monospace;
    grid-column: 1/3;
    text-align: center;
}
#description-container{
    grid-column: 1/3;
    border-top: 1px solid grey; 
}
#description-container textarea{
    width: 90%;
    border: none; 
    padding: none;  
    resize: none;
    font-size: 1.2em; 
    background-color: transparent;
}
.bg-grey{
    background-color: thistle;
}
#category-container{
    grid-column: 1/2;
    border-top: 1px solid grey; 
    border-bottom: 1px solid grey;


}
#due-date-container{
    grid-column: 2/3;
    border-top: 1px solid grey; 
    border-left: 1px solid grey; 
    border-bottom: 1px solid grey;
}
#due-date{
    background-color: transparent;
    font-size: 1.2em; 
}
#category{
    width: 100%; 
    border: none; 
    font-size: 1.1em;
    background-color: transparent;
}
#category option{
    padding: 10px 0; 
}

#btns-container{
    display: flex;
    justify-content: space-evenly;
    width: 70%;  
    margin: 2em auto; 
}

.btn{
    border: none; 
    font-size: 1.5em; 
    background-color: blueviolet; 
    color: white; 
    border-radius: 2px;
    padding: 15px 10px; 
    font-family: monospace;
    cursor: pointer;
}
.black{
    background-color: black; 
}
.red{
    background-color: red;
}
#btns-container .fa{
    font-size: 0.8em; 
}

.todo-container{
    display: flex;
    flex-direction: column;
}
.todo{
    border-top: 1px solid grey; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.todo-details{
    display: inline-block;
    width: 70%; 
    color: grey; 
    font-family: monospace;
}
.pending-todo{
    width: 1em; 
    height: 1em; 
}
.todo-category{
    text-transform: uppercase;
    font-family: sans-serif;
    display: inline-block;
    background-color: red; 
    width: 10%; 
    padding: 10px 0;  
    text-align: center;
    font-size: 1.4em; 
    color: white; 
}
.purple{
    background-color: purple;
}



@media only screen and (max-width: 700px){
    .todo-details{
        width: 50%;
    }
    .todo-category{
        padding: 0.8em; 
        font-size: 1.1em  ;
    }
    #btns-container{
        width: 100%; 
    }
}
@media only screen and (max-width: 500px){
    .container{
        width: 95%; 
    }
    #category{
        font-size: 1em; 
    }
}
/* @media only screen and (max-width: 440px){
    .todo-details{
        width: 40%;
    }
    .todo-details h3{
        font-size: 0.8em; 
    }
    .todo-category{
        padding: 0.3em; 
        font-size: 0.8em  ;
    }
    .btn{
        padding: 10px 5px; 
    }
    #btns-container{
        width: 100%; 
    }
} */